<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="LOG_PATH" value="${logs_path}/activemq"/>
    <conversionRule conversionWord="keep" converterClass="com.bestpay.mc.commons.framework.KeepConvert"/>
    <conversionRule conversionWord="PID" converterClass="com.bestpay.mc.commons.framework.PIDConvert"/>

    <!-- 记录到日志文件 -->
    <appender name="MC-CPS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/mc-cps.log</File>
        <encoder>
            <pattern>[%d] [%keep] [%PID] [%thread] [%level] [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/mc-cps-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            <maxHistory>180</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d] [%keep] [%PID] [%thread] [%level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.bestpay.mc.dao" level="DEBUG"/>
    <logger name="java.sql" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.ibatis" level="INFO"/>
    <logger name="org.apache.commons" level="INFO"/>

    <!-- dubbo的部分日志不打印 -->
    <logger name="com.alibaba.dubbo.rpc.protocol.dubbo.DubboProtocol" level="OFF"/>
    <logger name="com.alibaba.dubbo.registry.zookeeper.ZookeeperRegistry" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="MC-CPS"/>
        <!-- 是否输出控制台日志，本地输出，其它环境不输出 -->
        ${shutdown_log}
    </root>
</configuration>